#ham, #bell{
    filter: invert(1);
    margin-right: 2em;
}

.for-bg{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('src/assets-mob/bg/bg-1.png');
    background-size: cover;
}

.card-one{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 50vh;
    border-radius: 30px;
    padding: 1em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

body{
    min-width: 250px;
    overflow-x: hidden;
}



.for-logo{
    display: flex;
    justify-content: center;
}

.for-menu{
    display: flex;
    justify-content: right;
}

.btn-for-hero{
    position: relative;
    left: 10em;
    text-align: center;
    font-weight: 900;
    width: 15vh;
    padding: 0.5em;
    background-color: #7F5AF0;
    border-radius: 30px;
}

#comp-text{
    z-index: 999;
    color: white;
    font-weight: 600;
    opacity: 1;
}

#comp-name{
    padding-bottom: 1em;
    margin: 0;
    position: relative;
    right: 0.5em;
}

#link-id{
    padding-top: 1em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
}

.grid-for-strip{
    position: relative;
    top: -0.9em;
    left: 1.8em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 85%;
    height: 2px;
    border: 1px gray solid;
}

#colored{
    color: #7F5AF0;
}

.strip-one{
    border: 2px #7F5AF0 solid;
    position: relative;
    top: -2px;
}

.for-wrapper-bg{
    height: 80vh;
    background-image: url('src/assets-mob/bg/b-2.png');
    background-size: cover;
}

.prodp-wrapper{
    position: relative;
    left: -1em;
    display: flex;
    justify-content: center;
}

#product-list{
    list-style: none;
}

#product-list>li{
    margin-bottom: 1.5em;
}

.sm-productt{
    height: 18vh;
    width: 24rem;
    background-color: black;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

@media only screen and (max-width : 420px){
    .sm-productt{
        width: 100%;
    }
}
.plc-hldr{
    border: 1px white solid;
    height: 10vh;
    width: 10vh;

}

#sm-prd-nm, #sm-prd-prc{
    color: white;
    font-size: 14px !important;
}


.filter-sector{
    height: auto;
    padding-left: 2em;
    padding-top: 1em;
    padding-right: 2em;
}

.input-wrapping{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.btn-flt{
    background-color: rgba(256, 256, 256, 0.2);
    border-radius: 30px;
    z-index: 4;
    padding: 0.5em;
    width: 32vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5em;
}


.year-slid{
    margin-left:0 ;
}

#merc, #c-c{
    opacity: 1;
    z-index: 5;
    color: white;
    font-size: .8em;
    font-weight: 600;
}

#flt-arrow{
    transform: rotate(90deg);
    width: 2.5vh;
    height: 5vh;
    filter: invert(1);
}


.car-and-years{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.car-im>img{
    width: 10em;
}



#years{
    list-style: none;
    display: flex;
    gap: 0.5em;
}

#each{
    font-size: 1em;
    font-weight: 800;
}

.items-for-years{
    display: grid;
    grid-template-rows: auto auto;
}


.line{
    position: relative;
    left: 1em;
    height: 15px;
    width: 1px;
    border: 1px white solid;
}

.two, .six{
    opacity: 0.6;
}

.three, .five{
    opacity: 0.8;
}

.prood-p{
    margin: 0;
}

.prood-p>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.ima{
    margin-bottom: -2em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ima>img{
    width: 30rem;
}

@media only screen and (max-width : 550px){
    .ima>img{
        width: 20rem;
    }

    .ima{
        position: relative;
        left: -1em;
    }
}

#ima1{
    transform: scale(0.8);
    opacity: 0.2;
}

#ima2{
    transform: scale(1);
}

#ima3{
    transform: scale(0.9);
    opacity: 0.4;
}

#ima4{
    transform: scale(0.8);
    opacity: 0.2;
}

.last-part-mob{
    height: 50vh;
    width: 100%;
    background-color: #111113;
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 2em;
}

.item-for-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-for-nav>h3{
    font-weight: 900;
    font-size: 2em;
}

#nmr1,#nmr2,#nmr3,#nmr4{
    font-size: 1em;
}

.line-switcher{
    width: 90vw;
    height: 1px;
    border: 0.5px grey solid;
}