.product-plane{
    height: 50px;
}

.sheet{
    background-color: black;
    border-radius: 25px;
    height: 100%;
    width: 100%;
}


.wrapper-for-prod-1{
   display: grid;
   grid-template-columns: auto auto;

}

.wrapper-for-prod-1>img{
    size: 40vh;
    flex-basis: 50%;
}

.grid-item{
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon-for-filter{
    opacity: 0.8;
    height: 4em;
    width: 4em;
}

.grid-items-for-prod{
    display: flex;
    justify-content: left !important;
    align-items: left !important;
}

.product-wimg{
   width: 22em;
}

.productContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.wrapper-for-sings{
    margin-top:-2em ;
    display: grid;
    padding: 5%;
    grid-template-columns: auto auto auto auto;
    background: #16161A;
    gap: 0.5em;
    
}

@media only screen and (max-width : 1050px){
    .product-wimg{
        height: 12em;
    }
    .wrapper-for-prod-1{
        display: flex;
        flex-wrap: wrap;
    }
  }

  @media only screen and (max-width : 680px){
    .product-wimg{
        height: 18vh;
    }
  }