#title{
    font-weight: 900;
    font-size: 20px;
}

.colona{
    display: flex;
    justify-content: end;
}
#or{
    font-weight: 900;
    padding-top: 1em;
    padding-bottom: 1em;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #7F5AF0;
    border: none;
}

.bg{
    background-color: #16161A;
}

.text-start{
    font-size: 16px;
}

.section-wrapper{
    z-index: 5;
    margin-left: 3em;
    padding-left: 5em;

}

.new-border{
    opacity: 0.8;
    border-radius:30px ;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: end;
}

#arrow-for-filter{
    opacity: 0.8;
    width: 0.5em;
    height: 0.9em;
    margin-right: 1em;
    transform: rotate(90deg);
}

.wrapit{
    margin-right: -5em;
}

.row-of-make{
    width: 12em;
}

#make-model{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 200;
    color: grey;
}


.wrapper-for-inputs{
    height: 10vh;
    width: 60%;
    display: grid;
    grid-template-columns: auto auto;
}




.text-starti{
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}


.long-btn{
    width: 18em;
    border-radius: 30px;
}



@media only screen and (max-width : 576px){
    .section-wrapper{
        padding: 0;
    }
    #title{
        margin-top: 3em;
    }

    .new-border{
        width: 7em;
    }

    .text-starti{
        margin-top: -1em;
    }

    .long-btn{
        width: 16em;
        margin-bottom: 2em;
    }
}