 .sector4-wrapper{
    padding: 3em;
    padding-bottom: 5em;
}

h1,h3{
    color: #79797B;
}

h1{
    font-weight: 900;
    text-transform: uppercase;
}

.images-for-links{
    width: 60px !important;
    height: 50px;
}

.link-container{
    padding-top: 1em;
    display: flex !important;
    gap: 5em;
}

.link-container>h3{
    font-weight: 900;
}

.change-size{
    font-size: 20px;
}

.newe>Row{
    padding-top: 1em !important;
}


@media only screen and (max-width : 767px){
    .last-col{
        position: relative;
        left: -6em;
    }
    .sector4-wrapper{
        text-align: start;
    }
    .newe{
        margin-top: 4em;
        position: relative;
        left: -6em;
        color: #7F5AF0;
    }
    .link-container{gap: 0;}
  
    .images-for-links{
    display: none;
    }
}