#title{
    font-weight: 900;
}

.colona{
    display: flex;
    justify-content: end;
}
#or{
    padding-top: 1em;
    padding-bottom: 1em;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #7F5AF0;
    border: none;
}

.bg{
    background-color: #16161A;
}

.section-wrapper{
    margin-top: 5em;
    padding: 6em;
    padding-top: 4em;

}


@media only screen and (max-width : 767px){
    .section-wrapper{
        padding: 0;
    }
}