.wrapper-prod{
    padding: 0.5em;
    width: 20rem;
    height: 11rem;
    background-color: #1C1C1E;

}

.cont-for-row{
    padding-top: 0.5em;
}

@media only screen and (max-width : 767px){
    .wrapper-prod{
        width: 15rem;
        height: 16rem;
        position: relative;
        left: -9em;
        margin-bottom: 20px;
    }
    .cont-for-row{
        padding-top: 4em;
    }
  }

  #shopp{
    height: 10rem;
  }

  #tint, #tint-price{
    font-weight: 900 !important;
    font-size: 1em !important;
    color: #3C3C40;
  }
  #tint{
    width: auto;
  }

  .text-row{
    padding-left: 1em;
  }

  .proood{
    background-color: #1C1C1E;
    height: 12em;
  }

  #shop-cart-ico{
    z-index: 999;
    height: 20px;
  }

  .eight{
    height: 7em;
  }