#root{
  width: 100%;
}

.containeer{
  min-width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.with-bg{
  background-image:  url('../src/assets/main-car.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 60%;
  padding: 0;
  height: 80vh;
  z-index: 1;
  }
  
  .panel1{
    width: 65%;
    padding: 0;
    margin: 0;
    height: 80vh;
    position: relative;
    z-index: 2;
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    background-color: rgba(256, 256, 256, 0.06);
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }




.sector-4{
  z-index: 99;
  background-color: #29292D;
  margin-top: 8em ;
  padding-left: 4em;
}





